.FavouritePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__Grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}
